
@font-face {
  font-family: 'MicrosoftPhagsPa-Bold';
  src: url('../fonts/MicrosoftPhagsPa-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa-Bold.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa-Bold.ttf')  format('truetype'),
  url('../fonts/MicrosoftPhagsPa-Bold.svg#MicrosoftPhagsPa-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MicrosoftPhagsPa';
  src: url('../fonts/MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa.ttf')  format('truetype'),
  url('../fonts/MicrosoftPhagsPa.svg#MicrosoftPhagsPa') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MicrosoftNewTaiLue-Bold';
  src: url('../fonts/MicrosoftNewTaiLue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftNewTaiLue-Bold.woff') format('woff'),
  url('../fonts/MicrosoftNewTaiLue-Bold.ttf')  format('truetype'),
  url('../fonts/MicrosoftNewTaiLue-Bold.svg#MicrosoftNewTaiLue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MicrosoftNewTaiLue';
  src: url('../fonts/MicrosoftNewTaiLue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftNewTaiLue.woff') format('woff'),
  url('../fonts/MicrosoftNewTaiLue.ttf')  format('truetype'),
  url('../fonts/MicrosoftNewTaiLue.svg#MicrosoftNewTaiLue') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Constantia.woff') format('woff'),
  url('../fonts/Constantia.ttf')  format('truetype'),
  url('../fonts/Constantia.svg#Constantia') format('svg');
  font-weight: normal;
  font-style: normal;
}






























